<%- include('partials/head') -%>
<body>
  
  <%- include('partials/nav') -%>
  <div class="flex justify-center mb-10">
      <section class="flex flex-col w-1/4">
        <form action="/user/updateEmailSettings?_method=PUT" method="POST" autocomplete="off">
          <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text pr-10">Receive Email notifications</span> 
                <input type="checkbox" <% if(user.isReceivingEmails){ %> checked <% } %> class="checkbox" value="true" name="isReceivingEmails" />
              </label>
          </div>
          <div class="form-control">
              <label class="label cursor-pointer">
                  <span class="label-text pr-10">How often?</span>
                  <select class="select select-bordered" name="emailFrequncy">
                    <% for (var prop in frequencyOptions ) { %>
                      <option <% if(user.emailFrequncy == frequencyOptions[prop]){ %> selected <% } %> value="<%- frequencyOptions[prop] %>"><%- frequencyOptions[prop] %></option>
                    <% } %>
                  </select>
              </label>
          </div>
          <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text">Profitability limit</span> 
                <input type="text" placeholder="<%- user.emailProfitabilityLimit %>" class="input input-bordered input-primary max-w-xs" name="emailProfitabilityLimit"/>
              </label>
              <button class="btn w-1/2 self-end">Submit</button>
          </div>
        </form>
        <form action="/user/updateEmail?_method=PUT" method="POST" autocomplete="off">
          <div class="form-control pt-20">
              <label class="label cursor-pointer">
                <span class="label-text">Change email address</span> 
                <input type="text" placeholder="example@domain.com" class="input input-bordered input-primary max-w-xs" name="emailAddress"/>
              </label>
              <button class="btn w-1/2 self-end">Submit</button>
          </div>
        </form>
        <form action="/user/updatePassword?_method=PUT" method="POST" autocomplete="off">
          <div class="form-control pt-20">
              <label class="label cursor-pointer">
                <span class="label-text">Change password</span> 
                <input type="password" placeholder="password" class="input input-bordered input-primary max-w-xs" name="password"/>
              </label>
              <label class="label cursor-pointer">
                  <span class="label-text">Retype password</span> 
                  <input type="password" placeholder="password" class="input input-bordered input-primary max-w-xs" name="secondPassword"/>
                </label>
              <button class="btn w-1/2 self-end">Submit</button>
          </div>
        </form>
        
        <button class="btn mt-20 btn-warning">Delete account</button>
        
      </section>
  </div>
  <%- include('partials/footer') -%>
</body>
</html>