<%- include('partials/head') -%>
<body>
    
  <%- include('partials/nav') -%>
    <section class="p-20 bg-secondary-content h-screen">
        <div class="overflow-x-auto w-full">
            <table class="table w-full table-zebra">
              <!-- head -->
              <thead>
                <tr>
                  <th>Stock Symbol</th>
                  <th>Hype</th>
                  <th>Date Bought</th>
                  <th>Bought Price</th>
                  <th>Price</th>
                  <th>Return $</th>
                  <th>Return %</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<boughtStocks.length; i++) { %>
                  <tr>
                      <td>
                          <button class="btn btn-ghost btn-xs"><%- boughtStocks[i].symbol %></button>
                      </td>
                      <td style="display: none;"><%- boughtStocks[i]._id %></td>
                      <td><%- boughtStocks[i].hype %></td>
                      <td><%- boughtStocks[i].dateBought %></td>
                      <td><%- boughtStocks[i].boughtPrice %> $</td>
                      <td><%- boughtStocks[i].currentPrice %> $</td>
                      <td><%- boughtStocks[i].returnDollars %> $</td>
                      <td><%- boughtStocks[i].returnPercentage %>%</td>
                    <td>
                      <div class="tooltip" data-tip="Mark Sold">
                          <i class="fa-solid fa-usd text-success" id="markStockSoldBtn"></i>
                      </div>
                      <div class="tooltip ml-5" data-tip="Remove">
                        <i class="fa-solid fa-minus text-error" id="removeStockBtn"></i>
                    </div>
                    </td>
                  </tr>
                <% } %>
            </table>
          </div>
    </section>
    <%- include('partials/footer') -%>
</body>
<script src="/js/main.js"></script>
</html>